
#containerPrivacyPolicy{
    padding: 5%;
    background-color: rgb(21, 21, 21);
    
    img{
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    
    h2 {
        color: white;
      }
      
      p {
        color: white;
      }
      
      a {
        background-color: transparent;
        color: white;
      }
      
      h3 {
        color: white;
      }
      
      ul li {
        color: white;
      }
}
  